# First notebook testing testing

In [1]:
import pandas as pd

file_path = "/Users/admin/Desktop/taxi_project/green_tripdata_2015-09.tar.bz2"

df = pd.read_csv(file_path, compression="bz2")

In [32]:
print(df.head())

   VendorID lpep_pickup_datetime Lpep_dropoff_datetime Store_and_fwd_flag  \
0         2  2015-09-01 00:02:34   2015-09-01 00:02:38                  N
1         2  2015-09-01 00:04:20   2015-09-01 00:04:24                  N
2         2  2015-09-01 00:01:50   2015-09-01 00:04:24                  N
3         2  2015-09-01 00:02:36   2015-09-01 00:06:42                  N
4         2  2015-09-01 00:00:14   2015-09-01 00:04:20                  N

   RateCodeID  Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
0           5        -73.979485        40.684956         -73.979431
1           5        -74.010796        40.912216         -74.010780
2           1        -73.921410        40.766708         -73.914413
3           1        -73.921387        40.766678         -73.931427
4           1        -73.955482        40.714046         -73.944412

   Dropoff_latitude  Passenger_count  ...  Fare_amount  Extra  MTA_tax  \
0         40.685020                1  ...          7.8    0.0      0.0
1         40.912212                1  ...         45.0    0.0      0.0
2         40.764687                1  ...          4.0    0.5      0.5
3         40.771584                1  ...          5.0    0.5      0.5
4         40.714729                1  ...          5.0    0.5      0.5

   Tip_amount  Tolls_amount  Ehail_fee  improvement_surcharge  Total_amount  \
0        1.95           0.0        NaN                    0.0          9.75
1        0.00           0.0        NaN                    0.0         45.00
2        0.50           0.0        NaN                    0.3          5.80
3        0.00           0.0        NaN                    0.3          6.30
4        0.00           0.0        NaN                    0.3          6.30

   Payment_type  Trip_type
0             1         2.0
1             1         2.0
2             1         1.0
3             2         1.0
4             2         1.0

[5 rows x 21 columns]

In [33]:
output_file_path = "/Users/admin/Desktop/output.csv"

df.to_csv(output_file_path, index=False)